<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.practice.qa.testcases.VerifyHomePage"/>
      <class name="com.practice.qa.base.TestBase"/>
      <class name="com.practice.qa.testcases.VerifyNavBar"/>
      <class name="com.practice.qa.testcases.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
